$white: #fff;
$dwhite: #E5E1D1;
$lgray: #52616D;
$dgray: #2C343B;
$pink: #C44741;

@mixin rightrounded($radius: 7px){
-webkit-border-top-right-radius:      $radius;
-webkit-border-bottom-right-radius:   $radius;
-moz-border-radius-topright:          $radius;
-moz-border-radius-bottomright:       $radius;
border-top-right-radius:              $radius;
border-bottom-right-radius:           $radius;
}

body {
  padding-top: 50px;
  background-image: url('http://i.imgur.com/gxWtC0h.png');
}

.navbar{
  background-color: $dgray;
  ul.nav{
    li{
      
      a{
        color:$white;
      }
    }
  }
  
  a.navbar-brand{color:$pink;font-family: Lobster;font-size:24px;text-shadow: 1px 1px 0px #222222;}
}
.header-wrapper{
  margin-top:50px;
  min-height:422px;
}
.centervideo{
  background-color: $pink;
  height:422px;
  p{color:$white;line-height:422px;text-align:center;}
}
.rightsidebar{
  background-color:$white;
  @include rightrounded(15px);
}
.nogutter{
 padding:0px;
 margin:0px;
}
.streamtitle{
  display:block;
  background-color:$dgray;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  h2{
    color:$white;
    margin:0;
    line-height:50px;
    padding:0px 20px;
    font-family:Lato, sans;
    font-size:16px;
    font-weight:bold;
    text-align:center;
  }
}
.streamdesc-wrapper{
  padding:20px;
  color:white;
  font-family: Lato,sans;
  word-wrap: break-word;
    .streamdesc{

    }
    span.highlight{
      font-weight:bold;
    }
  .authorwebsite{
    a{color:$pink;font-weight:bold;letter-spacing:1px;}
  }
}
.maincontent{
  margin-top:5px;
  .smallvid{
    .smallvid-title{
      display:block;
      padding:5px;
      background-color:$dgray;
      h3{
        font-family:Lato,sans;
        font-size: 16px;
        line-height:25px;
        text-align:center;
        color:$white;
        padding:0 10px;
        margin:0;
        
      }
    }
    
    .smallvid-player{
      display:block;
      min-height:300px;
      background-color:$pink;
        p.ex{line-height:25px;color:$white;text-align:center;}
    }
  }
}